article{
    text-align:center;
}
footer{
    text-align:center;
}
h2{
    color:dodgerblue;
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    padding: 10px;
}
nav{
    display: flex;
    gap: 10px;
}
a{
    text-decoration: none;
    color: black
}
a:hover{
    text-decoration: underline;
}
.purple{
    color: purple;
}
.padding{
    padding: 15px;
    justify-content: flex-start;
}
#name{
    width: 150px;
    flex-wrap: wrap;
    font-size: 12px;
}
.div{
    display: flex;
    justify-content: space-between;
}
